.streamers {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    max-width: 100%;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    overflow-x: auto;
}

.streamer-item {
    max-width: 100%;
    max-width: 350px;
    height: auto;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    flex: 1;
    margin-top: 50px;
    padding-bottom: 30px;
    cursor: pointer;
    min-width: 150px;
}

.profile-picture {
    width: 40%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
    border: 1.5px solid #2d806f;
    margin-top: -50px;
}

.streamer-item  .streamer-title {
    font-size: 20px;
    margin-top: 20px;
    color: black;
}

.streamer-item  .streamer-followers {
    font-weight: 16px;
    color: rgba(0, 0, 0, 0.623);;
}