@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', arial;
    background-color: rgb(242, 242, 242);
    position: relative;
}

#root {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
}

.root-container {
    position: relative;
}

a {
    text-decoration: none;
}

/* Spinner */
.spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-image {
    width: 100px;
    height: 100px;
    animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.button-1 {
    padding: 10px;
    border-radius: 4px;
    background-color: #ededed;
    color: black;
    outline: none;
    border: none;
}

/* Login */
.title-box {
    width: 100%;
    height: 100px;
    /* background-image: url("../public/login-box-background.jpg");
    background-position: center center;
    background-size: cover; */
    background-color: #2d806f;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.title-box-text {
    color: white;
    font-size: 35px;
    margin-left: 25px;
}

.form  {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    border-radius: 6px;
    padding: 35px;
    margin-top: 90px;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.054);
    margin-bottom: 40px;
}

.form .title {
    font-size: 40px;
    color: #949494;
}

.form form {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    gap: 20px;
    margin-top: 40px;
}

.input-1 {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 25px;
}

.input-1-label {
    color: #949494;
    font-size: 18px;
    position: absolute;
    top: 6px;
    left: 0;
    transition: all 1.25 ease;
}

.input-1-field {
    outline: none;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #949494;
    padding: 10px;
    font-size: 16px;
    z-index: 1;
}

.input-1-field:focus {
    border-bottom-color: #2d806f;
}

.input-1-field:valid {
    border-bottom-color: #2d806f;
}

.input-1-field:disabled {
    border-bottom-color: #2d806f;
}

.input-1-field:focus + .input-1-label {
    color: #2d806f;
    transform: translateY(-30px);
}

.input-1-field:valid + .input-1-label {
    color: #2d806f;
    transform: translateY(-30px);
}

.input-1-field:disabled + .input-1-label {
    color: #2d806f;
    transform: translateY(-30px);
}

.login-form .info {
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    color: #949494;
}

.link-1 {
    color: #2d806f;
    text-decoration: none;
}

.login-submit-button {
    background-color: #2d806f;
    color: white;
    font-size: 22px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.login-submit-button:hover {
    background-color: #359582;
}

.subtitle {
    margin: 0 auto;
    text-align: center;
    color: #a562d9;
}

.register-form .info {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    color: gray;
}

/* Stream item */

.stream-item {
    width: 100%;
    flex-shrink: 1;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    max-width: 300px;
}

.stream-item .thumbnail{
    width: 100%;
    background-size: cover;
    aspect-ratio: 16/9;
    background-position: center center;
    background-image: url('https://static-cdn.jtvnw.net/previews-ttv/live_user_topracingtv-440x248.jpg');
    cursor: pointer;
}

.stream-info {
    display: flex;
    max-width: 100%;
    height: auto;
    flex-direction: row;
    gap: 10px;
}

.stream-author-image {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1.5px solid #2d806f;
    margin-top: 10px;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
}

.stream-info-right {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
}

.stream-title {
    color: black;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

.stream-author, .stream-category {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.623);
    cursor: pointer;
}

.streams {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    max-width: 100%;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.home-section-title-container {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.home-section-title {
    font-size: 22px;
    color: #2d806f;
    font-weight: bold;
    cursor: pointer;
}

.home-section-subtitle {
    font-size: 15px;
    color: black;
    margin-top: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Categories home page */
.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    max-width: 100%;
    gap: 10px;
    align-self: start;
    padding-left: 20px;
    padding-right: 20px;
}

.category-item {
    width: 100%;
    aspect-ratio: 4/6;
    position: relative;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 300px;
}

.category-item .thumbnail {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    position: absolute;
    z-index: -1;
    filter: grayscale(20%);
}

.category-item .bottom-grayscale-effect {
    width: 100%;
    height: 60%;
    margin-bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: 0.3s ease;
}

.category-item .category-name {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10%;
    transition: 0.3s ease;
}

.category-item:hover .bottom-grayscale-effect {
    height: 70%;
}

.category-item:hover .category-name {
    margin-bottom: 20%;
}

/* Account page */
.account-form .profile-picture {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    position: relative;
}

.account-form .profile-picture .upload, .banner .upload, .profile-box .upload {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.677);
    justify-content: center;
    align-items: center;
    color: #DAE2CF;
    display: flex;
    opacity: 0;
}

.banner .upload {
    border-radius: 0;
}

.account-form .profile-picture .upload .upload-icon, .banner .upload .upload-icon, .profile-box .upload .upload-icon {
    cursor: pointer;
}

.account-form .profile-picture .upload:hover, .banner .upload:hover, .profile-box .upload:hover{
    opacity: 1;
}

.upload-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

@media only screen and (max-width: 600px) {

    .streams, .categories, .streamers {
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .streams::-webkit-scrollbar, .categories::-webkit-scrollbar, .streamers::-webkit-scrollbar {
        display: none;
    }

    .stream-item, .category-item, .streamer-item {
        min-width: 200px;
    }

    .form {
       max-width: 90%;
       box-sizing: border-box;
       padding: 20px;
    }
}

.input-2 {
    display: flex;
    flex-direction: column;
}

.input-2-label {
    color: #2d806f;
    font-size: 18px;
    transition: all 1.25 ease;
}

.input-select-1 {
    padding: 10px;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #2d806f;
    margin-top: 2px;
}

.create-stream-options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
}

.create-stream-option {
    width: 100%;
    height: auto;
    padding: 30px 10px;
    background-color: #f4f4f4;
    border: 2px solid transparent;
    flex: 1;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.create-stream-option:first-of-type {
    border-color: #2d806f; 
}

.create-stream-options-title {
    font-size: 18px;
}

.create-stream-options-subtitle {
    font-size: 13px;
    opacity: 0.6;
}

.create-stream-submit-button {
    background-color: #2d806f;
    color: white;
    font-size: 22px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.input-label-disabled {
    color: #949494 !important;
}

.input-field-disabled {
    border-color: #949494 !important;
    color: #949494 !important;
    cursor: text;
}

.personal-engine-creds {
    display: none;
}