.banner {
    width: 100%;
    aspect-ratio: 7/1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.profile-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    padding: 20px;
    gap: 20px;
}

.profile-user-picture {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #2d806f;
}

.profile-box-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.profile-box-2 .name {
    font-size: 25px;
}

.profile-box-2 .followers {
    color: rgba(0, 0, 0, 0.623);
}

.follow-button {
    height: auto;
    font-size: 16px;
    padding: 6px 10px;
    background-color: #2d806f;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.follow-button:hover {
    background-color: #266c5e;
}

.unfollow-button {
    background-color: #ebeaea;
    color: black;
}

.unfollow-button:hover {
    background-color: #dedede;
}

.profile-pages {
    max-width: 100%;
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.profile-pages div {
    font-size: 20px;
    border-bottom: 3px solid;
    cursor: pointer;
}

.home-profile-page {
    color: #2d806f;
    border-color: #2d806f;
}

.profile-content {
    max-width: 100%;
    padding: 20px;
}

.profile-streams, .profile-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    max-width: 100%;
    gap: 10px;
    position: relative;
}

.profile-title-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

.profile-view-more {
    font-size: 14px;
    color: #2d806f;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.profile-title {
    font-size: 22px;
}

.profile-title-container {
    padding-bottom: 10px;
}

.stream-info {
    padding-left: 10px;
}

.stream-item .stream-title {
    font-size: 18px;
}

.stream-item .stream-category {
    font-size: 14px;
}

.profile-categories-container {
    margin-top: 30px;
}

.stats {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    padding: 20px;
    background-color: #ebeaea;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stats-subtitle {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.623);
}

.description {
    max-width: 100%;
    border-radius: 6px;
    padding: 20px;
    background-color: #ebeaea;
}

.edit-button {
    float: right;
    margin-right: 6px;
    font-size: 14px;
    cursor: pointer;
    color: #2d806f;
}

.about-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.description-title {
    font-size: 20px;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    position: absolute;
    z-index: 99;
    display: block;
    display: none;
}

.edit-links-modal, .description-modal {
    z-index: 100;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    background-color: white;
    padding: 30px;
    border-radius: 6px;
    min-width: 300px;
}

.edit-links-header, .description-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

.edit-links-title, .description-title {
    font-size: 22px;
}

.close-button {
    cursor: pointer;
}

.edit-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}

.edit-link .link-type {
    width: 120px;
    height: 40px;
    overflow: hidden;
    outline: none;
    border: none;
    border: 2px solid #ebeaea;
    border-radius: 6px;
    cursor: pointer;
}

.edit-link .link-url {
    width: 150px;
    height: 34.6px;
    overflow: hidden;
    outline: none;
    border: none;
    border: 2px solid #ebeaea;
    border-radius: 6px;
}

.edit-link .link-delete-button {
    height: 40px;
    width: 40px;
    background-color: #ebeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.edit-link .link-delete-button:hover, .add-link-button:hover, .clear-button:hover {
    background-color: #dcdcdc;
}

.edit-links-footer, .description-footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;
}

.add-link-button, .clear-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 6px;
    gap: 8px;
    background-color: #ebeaea;
    border-radius: 6px;
    cursor: pointer;
}

.update-button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #2d806f;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

.update-button:hover {
    background-color: #266c5e;
}

.description-modal textarea {
    resize: none;
    overflow: auto;
    outline: none;
    border: none;
    border: 2px solid #ebeaea;
    margin-top: -10px;
    border-radius: 6px;
}

.profile-streams-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.profile-streams-2 .stream-item {
    min-width: 250px;
    flex-shrink: 0;
    flex-grow: 0;
}

.stream-category-filter {
    border: none;
    outline: none;
    background-color: #e4e2e2;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}

.column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.profile-link {
    color: black;
    cursor: pointer;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: 0.5s ease;
}

.profile-link-icon {
    display: none;
}

.profile-link:hover > .profile-link-icon {
    display: block;
}

@media only screen and (max-width: 600px) {

    .profile-streams, .profile-categories{
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .profile-streams::-webkit-scrollbar, .profile-categories::-webkit-scrollbar {
        display: none;
    }

    .stream-item, .category-item, .streamer-item {
        min-width: 200px;
    }
}