.topbar {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 -10px 20px 2px rgba(128, 128, 128, 0.625);
    background-color: white;
    z-index: 10;
}

.topbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-inline-start: 0;
    position: relative;
}

.topbar ul .left{
    justify-content: flex-start;
}

.topbar ul .right{
    justify-content: flex-end;
}

.topbar ul li {
    list-style-type: none;
}

.topbar ul a {
    text-decoration: none;
}

.register-button {
    background-color: #2d806f;
    color: white;
    width: 80px;
    text-align: center;
    font-size: 15px;
    margin-right: 20px;
    padding: 4px 6px;
    border-radius: 4px;
}

.login-button {
    background-color: rgb(236, 236, 236);
    color: black;
    width: 80px;
    text-align: center;
    font-size: 15px;
    margin-right: 10px;
    padding: 4px 6px;
    border-radius: 4px;
}

.logo {
    font-size: 26px;
    margin-left: 20px;
    color: #2d806f;
    font-weight: 700;
}

.topbar-link {
    margin-left: 25px;
    font-size: 16px;
    color: black;
    font-weight: 550;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.topbar-link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #2d806f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.topbar-link:hover:after { 
    width: 100%; 
    left: 0; 
}

.topbar .account, .down-items .account {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px 12px;
    gap: 6px;
    font-size: 18px;
    border-radius: 6px;
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.topbar .account .username {
    cursor: pointer;
}

.topbar .account-link {
    position: relative;
}

.topbar .account-dropdown {
    position: absolute;
    height: auto;
    width: 150px;
    z-index: 10;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    gap: 5px;
    border-radius: 4px;
    box-shadow: 0 0px 10px 1px rgba(128, 128, 128, 0.19);
    margin-top: 5px;
    height: 0px;
    overflow: hidden;
    right: 0;
}

.topbar .account-dropdown li, .topbar .account-dropdown a {
    padding: 10px 0;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    color: black
}

.topbar .account-dropdown li:hover, .topbar .account-dropdown a:hover {
    background-color: rgb(201, 201, 201);;
}

.topbar .account:hover, .topbar .login-button:hover {
    background-color: rgb(226, 226, 226);
}

.topbar .logout-button, .down-items .logout-button {
    background-color: #2d806f;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 10px;
    padding: 9px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar .logout-button:hover, .topbar .register-button:hover {
    background-color: #266c5e;
}

.hamburger-menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
    display: none;
    cursor: pointer;
}

.topbar-down {
    width: 100%;
    background-color: white;
    box-shadow: 0 -10px 20px 2px rgba(128, 128, 128, 0.625);
    height: 0;
    overflow: hidden;
}

.down-items {
    margin: 0;
    list-style-type: none;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.down-items .topbar-link {
    margin: 0;
   
}

.down-items a {
    text-decoration: none;
}

.down-items .topbar-link:hover:after { 
    width: 0; 
    left: 0; 
}

.down-items .logout-button {
    display: none;
    margin: 0;
}

.button-start-stream {
    width: auto;
    height: auto;
    background-color: #2d806f;
    color: white;
    padding: 9px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;
}

.button-start-stream:hover {
    background-color: #266c5e;
}

.horizontal-line {
    width: 100%;
    height: 2px;
    background-color: rgba(179, 179, 179, 0.32);
}

.start-stream-link{
    color: #2d806f;
}

@media only screen and (min-width: 901px) {

    .topbar-down {
        display: none !important; 
    }
}

@media only screen and (max-width: 900px) {

    .hamburger-menu {
        display: flex !important;
    }

    .login-button, .register-button, .account, .logout-button, .topbar-link, .account-link, .logout-button, .button-start-stream{
        display: none !important;
    }

    .down-items .login-button, .down-items .register-button, .down-items .logout-button, .down-items .topbar-link {
        display: block !important;
    }

    .down-items .account {
        display: flex !important;
    }
}